#foot {
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
    height: 260px;
}

#brand {
    display: none;
}

#foot .container-fluid {
    padding-top: 5vh;
    color: #000;
    font-size: 14px;
    font-style: italic;
}
#foot-logo img{
    height: 10vh;
    float: right;
    padding-right: 30px;
}
#foot-para {
    margin: auto;
    text-align: center;
    font-size: 15px;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    padding: 0 20px;
}

#social {
    color: #3b5998;
    font-size: 20px;
}
#social ul {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    list-style-type: none;
}
#social ul li a{
    color: #3b5998;
}



.links {
    text-align: center;
    color: #000;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    font-weight: 500;
    vertical-align: text-top;
    font-style: italic;
    padding-top: 5vh;
    margin-bottom: 0px;

}
.dash {
    border-right: 1px solid #000;
    padding-right: 20px;
}

.links li{
display: inline-block;
margin-right: 23px;
}

.foot-nav {
    color: #000;
}
.foot-nav:hover {
    color: #000;
    text-decoration: none;
}

@media screen and (max-width: 914px) and (min-width:751px){
    #foot {
        height: 300px;
    }
    .nl {
        display: block !important;
        margin-bottom: 2vh;
        border-right: 0px;
        padding-right: 0px;
    }
}

@media screen and (max-width: 750px) and (min-width:651px){
    #foot {
        height:140px;
    }
    #foot .container-fluid {
        padding-top: 30px;
    }
    #foot-para {
        display: none;
    }
    #brand {
        display: block;

    }
    #brand_bod {
        margin-top: 2.5vh;
        padding: 0 1.5vw;
        border-right: 1px solid #000;
        border-left: 1px solid #000;
    }
    #social ul li{
        text-align: center;
    }
    #foot-nav-bot {
        display: none;
    }
    #social {

        margin-left: -40px;
    }
    .nl {
        display: block !important;
        margin-bottom: 2vh;
        border-right: 0px;
        padding-right: 0px;
    }
    #brand h2 {
        text-align: center;
        color: #6c6c6c;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        line-height: 1;
        font-weight: 500;
        vertical-align: text-top;
        font-style: italic;
        padding-top: 1.5vh;
        margin-bottom: 0px;
    }
    #foot-logo {
        text-align: center;
    }
    #foot-logo img{
        padding-right: 0px;
    }
}



@media screen and (max-width: 650px) {
    #foot .container-fluid {
        padding-top: 20px;
    }
    #foot {
        height:120px;
    }
    #foot-logo img{
        height: 7vh;
        float: right;
        margin-top: 1vh;
    }
    #foot-para {
        display: none;
    }
    #brand {
        display: block;

    }
    #brand_bod {
        margin-top: 2.5vh;
        padding: 0 1.5vw;
        border-right: 1px solid #000;
        border-left: 1px solid #000;
    }
    #social ul li{
        text-align: center;
    }
    #foot-nav-bot {
        display: none;
    }
    #social {
        font-size: 18px;
        margin-left: -40px;
    }
    .nl {
        display: block !important;
        margin-bottom: 2vh;
        border-right: 0px;
        padding-right: 0px;
    }
    #brand h2 {
        text-align: center;
        color: #6c6c6c;
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        line-height: 1;
        font-weight: 500;
        vertical-align: text-top;
        font-style: italic;
        padding-top: 1vh;
        margin-bottom: 0px;
    }
    #foot-logo {
        text-align: center;
    }
    #foot-logo img{
        padding-right: 0px;
    }
}
