.dark {
    background-color: #0c0c0c;
    opacity: 0.95;
}
#head-brand {
    font-size: 14px;
    text-transform:uppercase;
    font-weight:400;
    font-family: 'Roboto', sans-serif;
}
#head-brand img {
    height: 5vh;
    margin-right:10px;
}
#navbarSupportedContent ul {
    margin: 0 auto;
}

#navbarSupportedContent ul li {
    padding: 0 10px;
    text-transform:uppercase;
    font-weight:400;
    font-family: 'Roboto', sans-serif;
}
