body {
    background-color: #f6f6f6;
    background-image: linear-gradient(315deg, #f6f6f6 0%, #e9e9e9 74%);
}

#banner {
    margin-top:7vh;
    width: 100%;
    height: 30vh;
    object-fit: cover;
}
#bannerText {
    position: absolute;
    width: 100%;
    margin: auto;
    top : 18vh;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 5vh;

}
#section1 {
    margin-top:5vh;
    text-align: center;
}
#section1 div {
    list-style:none;
    margin: 7vh auto;
}
#section1 div h3{
    margin-bottom: 3vh;
}
#section1 div ul {
    padding-left: 0px;
}
#section1 div ul li {
    list-style:none;
}
