#section1 {
    margin-top:12vh;
    text-align: center;
    max-width: 70vw;
}
#section1 h1 {
    font-size: 30px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}
#section1 h3 {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    margin: 20px 0;
}
#section1 hr {
    width: 30vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#section1 .row {
    display: flex;
}
#section1 div div {
    margin: 10px;
    min-width: 301px !important;
}
#section1 div div img{
    margin-bottom: 20px;
}

#section1 div div h2 {
    font-size: 20px;
    font-weight:500;
    font-family: 'Roboto', sans-serif;
}
#section1 div div p {
    color: #6c6c6c;
    font-weight:400;
    font-family: 'Roboto', sans-serif;
    font-size: 16.5px;
}
#section1 div div button{
    color :#000;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    border-color: #fce32a;
    display: block;
    margin: 0 auto;
}
#section1 div div button:hover{
    background-color: #fce32a;
}

#row2 {
    align-items: center;
    justify-content: center;
}
#row1 {
    align-items: center;
    justify-content: center;
}
#row1 .col{
    max-width:25%;
}
#row2 .col{

    max-width:25%;
}

@media screen and (max-width: 991px)  {
    #section1 div div {
        min-width: 100%;
}
    .bod {
        border-right: 0px solid #fce32a;
        border-left: 0px solid #fce32a;
    }

}
