:target:before {
content:"";
display:block;
height:90px; /* fixed header height*/
margin:-90px 0 0; /* negative fixed header height */
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
    background-color: #e7eff9;
    background-image: linear-gradient(315deg, #e7eff9 0%, #cfd6e6 74%);

}
#caro-1 .carousel-inner{
    height: 100vh;
}
#caro-1 .carousel-inner .carousel-item .carousel-caption {
    top:35vh;
    bottom:auto;
}
#caro-1 .carousel-inner .carousel-item img {
    height: 100vh;
    object-fit: cover;
}

#caro-1 .carousel-inner .carousel-item .carousel-caption h1 {
    font-size:60px;
    font-weight: 400;
    font-style:italic;
    font-family: 'Roboto', sans-serif;
}

#caro-1 .carousel-inner .carousel-item .carousel-caption p {
    font-size:20px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    max-width: 60vh;
    margin: 2vh auto;

}

#caro-1 .carousel-inner .carousel-item .carousel-caption button {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    background-color: rgba(255,255,255,0);
    border: 1.5px solid #fce32a;
}
.first{
    margin-right: 30px;
    background-color: #fce32a !important;
    color: #000;
}


#know_more {
    margin-top: 10vh;
}
#know_more h1{
    color: #fce32a;
    font-size: 36px !important;
    font-family: 'Oswald', sans-serif !important;
    padding-top: 2.5vh;
    text-align: center;
    font-weight: 500 !important;
    font-style: normal !important;
}
#know_more p{
    color: #fce32a;
    font-size: 17px !important;
    font-family: 'Oswald', sans-serif !important;
    padding-top: 1vh;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
}
#know_more * a{
    color: #fce32a;
    text-decoration: none;

}
#know_more p a i{
    font-size: 30px;

}
.second_item {
    color: #000 !important;
}

#section1 {
    margin-top:10vh;
    margin-bottom:5vh;
    text-align: center;
}
#section1 h1 {
    font-size: 30px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}
#section1 .row {
    display: flex;
}

#section1 p {
    color: #6c6c6c;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
#section1 div div {
    padding: 25px;
    background-color: rgba(255,255,255,0.3);
    margin: 15px 15px;
}
#section1 div div i {
    /* display: block; */
    width: 85px;
    height: auto;
    font-size: 40px;
    padding: 20px;
    color: #000;
    border-bottom: 1px solid #000;
    background-color: rgba(255,255,255,0);
    margin-bottom: 20px;
    /* border-radius: 80px; */
    vertical-align: middle;
}
#section1 div div h2 {
    font-size: 20px;
    font-weight:500;
    font-family: 'Roboto', sans-serif;
}
#section1 div div p {
    color: #6c6c6c;
    font-weight:400;
    font-family: 'Roboto', sans-serif;
    font-size: 16.5px;
}
/* .bod {
    border-right: 1.5px solid #fce32a;
    border-left: 1.5px solid #fce32a;
} */

#section2 {
    margin-top:5vh;
    text-align: center;
}
#section2 h1 {
    font-size: 30px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}


#section2 div div {
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
}
#section2 div div img{
    margin-bottom: 20px;
    height: 200px;
    width: 300px;
}

#section2 div div h2 {
    font-size: 20px;
    font-weight:500;
    font-family: 'Roboto', sans-serif;
}
#section2 div div p {
    color: #6c6c6c;
    font-weight:400;
    font-family: 'Roboto', sans-serif;
    font-size: 16.5px;
    margin-top: 2vh;
}
#section2 div div button{
    color :#000;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    border-color: #000;
}
#section2 div div button a{
    color :#000;
    text-decoration: none;
}
#section2 div div button a:hover{
    color :#000;
    text-decoration: none;
}
#section2 div div button:hover{
    background-color: #fff;
}

#caro-2 {
    height: 40vh;
}
#caro-2 .carousel-inner .carousel-item .carousel-caption {
    top:15vh;
    bottom:auto;
}
#caro-2 .carousel-inner .carousel-item img {
    height: 40vh;
    object-fit: cover;
}
#caro-2 .carousel-inner .carousel-item .carousel-caption h1 {
    font-size:30px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

#caro-2 .carousel-inner .carousel-item .carousel-caption p {
    font-size:20px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    max-width: 60vh;
    margin: 2vh auto;

}


#banner {
  margin-top: 6vh;
  height: 94vh;

}
#banner img {
  height: 94vh;
  width: 100vw;
  object-fit: cover;
}

#content {
  color: #fff;
  position: absolute;
  width: 100vw;
  z-index: 1;
  top:30vh;
  text-align: center;
}
#content h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 65px;
}

#content h2 {
  font-weight: 400;
  font-style: italic;
  font-size: 26px;
}

#inner_content {
  margin-top: 10vh;
  max-width: 40vw;
}
#inner_content p{
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 26px;
  margin: 5vh 0;
}

#inner_content button {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  background-color: rgba(255,255,255,0);
  border: 1.5px solid #3b5998;
  margin: 3vh 1vw;
}
#inner_content button a{
  color: #fff;
}
#inner_content button a:hover{
  text-decoration: none;
}
#inner_content p a i{
  font-size: 50px;
  color: #fff;

}

@media screen and (max-width: 1200px)  {
  #inner_content {
    max-width: 60vw;
  }
}

@media screen and (max-width:1199px) and (min-width:992px) {
    #section1 {
        max-width: 90vw;
    }
    #section1 div div {
        min-width: 100%;
        margin: 15px auto;
    }

    #inner_content {
      max-width: 60vw;
    }


    #section2 div div {
        min-width: 100%;
    }
    .bod {
        border-right: 0px solid #fce32a;
        border-left: 0px solid #fce32a;
    }

}

@media screen and (max-width: 991px) and (min-width:600px) {
    #section1 div {
        width: 60vw;
        margin: auto;
    }
    #inner_content {
      max-width: 80vw;
    }
    #content h1 {
      font-size: 55px;
    }
    #content h2 {
      font-size: 24px;
    }

}

@media screen and (max-width: 599px) and (min-width:500px) {

        #caro-1 .carousel-inner .carousel-item .carousel-caption {
            top:25vh;
            bottom:auto;
        }
        #caro-1 .carousel-inner .carousel-item .carousel-caption button {
            display: none;
        }

        #inner_content {
          max-width: 90vw;
        }
        #content h1 {
          font-size: 55px;
        }
        #content h2 {
          font-size: 24px;
        }
    }

@media screen and (max-width: 499px) and (min-width:400px) {

        #caro-1 .carousel-inner .carousel-item .carousel-caption {
            top:12vh;
            bottom:auto;
        }
        #caro-1 .carousel-inner .carousel-item .carousel-caption button {
            display: none;
        }
        #inner_content {
          max-width: 90vw;
        }
        #content h1 {
          font-size: 45px;
        }
        #content h2 {
          font-size: 22px;
        }
        #inner_content p{
          font-size: 22px;
        }
        #content {
          top:20vh;
        }
        #inner_content p a i{
          font-size: 30px;
        }
    }
@media screen and (max-width: 399px) and (min-width:350px) {

        #caro-1 .carousel-inner .carousel-item .carousel-caption {
            top:7vh;
            bottom:auto;
        }
        #caro-1 .carousel-inner .carousel-item .carousel-caption button {
            display: none;
        }
        #caro-1 .carousel-inner .carousel-item .carousel-caption h1 {
            font-size:50px;
        }
        #caro-1 .carousel-inner .carousel-item .carousel-caption p {
            font-size:18px;
            max-width: 80vh;
        }
        #inner_content {
          max-width: 90vw;
        }
        #content h1 {
          font-size: 45px;
        }
        #content h2 {
          font-size: 22px;
        }
        #inner_content p{
          font-size: 21px;
        }
        #content {
          top:20vh;
        }
        #inner_content p a i{
          font-size: 30px;
        }
    }
    @media screen and (max-width: 349px){

            #caro-1 .carousel-inner .carousel-item .carousel-caption {
                top:4vh;
                bottom:auto;
            }
            #caro-1 .carousel-inner .carousel-item .carousel-caption button {
                display: none;
            }
            #caro-1 .carousel-inner .carousel-item .carousel-caption h1 {
                font-size:40px;
            }
            #caro-1 .carousel-inner .carousel-item .carousel-caption p {
                font-size:16px;
                max-width: 80vh;
            }
            #inner_content {
              max-width: 90vw;
            }
            #content h1 {
              font-size: 35px;
            }
            #content h2 {
              font-size: 18px;
            }
            #inner_content p{
              font-size: 20px;
            }
            #content {
              top:20vh;
            }
            #inner_content p a i{
              font-size: 25px;
            }
            #inner_content button {
              font-size: 18px;
              margin: 1vh 1vw;
            }
        }
