body {
    background-color: #f5f5f5;
}

.dark {
    background-color: #0c0c0c;
}
#head-brand {
    font-size: 14px;
    text-transform:uppercase;
    font-weight:400;
    font-family: 'Roboto', sans-serif;
}
#head-brand img {
    height: 5vh;
    margin-right:10px;
}
#navbarSupportedContent ul {
    margin: 0 auto;
}

#navbarSupportedContent ul li {
    padding: 0 10px;
    text-transform:uppercase;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
#navbarSupportedContent ul li a:hover {
    border-bottom: 1px solid #fce32a;
}

#caro-1 {
    top: 5vh;
    height: 80vh;
}
#caro-1 .carousel-inner .carousel-item .carousel-caption {
    top:35vh;
    bottom:auto;
}
/* #caro-1 .carousel-inner .carousel-item img {
    height: 40vh;
    object-fit: cover;
} */



#section1 {
    margin-top:10vh;
    margin-bottom:5vh;
    text-align: center;
}
#section1 h1 {
    font-size: 30px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

#section1 p {
    color: #6c6c6c;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
#section1 div div {
    padding-left: 25px;
    padding-right: 25px;
}
#section1 div div i {
    display: block;
    font-size: 60px;
    padding: 20px 0;
    color: #fce32a;
}
#section1 div div h2 {
    font-size: 20px;
    font-weight:500;
    font-family: 'Roboto', sans-serif;
}
#section1 div div p {
    color: #6c6c6c;
    font-weight:400;
    font-family: 'Roboto', sans-serif;
    font-size: 16.5px;
}
.bod {
    border-right: 1.5px solid #fce32a;
    border-left: 1.5px solid #fce32a;
}

#section2 {
    margin-top:5vh;
    text-align: center;
}
#section2 h1 {
    font-size: 30px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}


#section2 div div {
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
}
#section2 div div img{
    margin-bottom: 20px;
}

#section2 div div h2 {
    font-size: 20px;
    font-weight:500;
    font-family: 'Roboto', sans-serif;
}
#section2 div div p {
    color: #6c6c6c;
    font-weight:400;
    font-family: 'Roboto', sans-serif;
    font-size: 16.5px;
}
#section2 div div button{
    color :#000;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    border-color: #fce32a;
}
#section2 div div button:hover{
    background-color: #fce32a;
}

#caro-2 {
    height: 40vh;
}
#caro-2 .carousel-inner .carousel-item .carousel-caption {
    top:15vh;
    bottom:auto;
}
#caro-2 .carousel-inner .carousel-item img {
    height: 40vh;
    object-fit: cover;
}
